@tailwind base;
@tailwind components;
@tailwind utilities;

/* section.hero{
    display: grid;
    grid-template-columns: .4fr .6fr;
    gap: 50px;
} */

.rotate-pizza {
    animation: pizza 10s infinite linear;
    animation-play-state: running; 
}

.rotate-pizza:hover {
    animation-play-state: paused;
}
@keyframes pizza {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}